@font-face {
    font-family: "New Order";
    src: local("New Order SemiBold"), local("NewOrder-SemiBold"),
        url("https://github.com/erichologist/erichology-ssd_textastic/raw/refs/heads/main/assets/fonts/neworder/neworder-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "New Order";
    src: local("New Order Medium"), local("NewOrder-Medium"),
        url("https://github.com/erichologist/erichology-ssd_textastic/raw/refs/heads/main/assets/fonts/neworder/neworder-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "New Order";
    src: local("New Order Regular"), local("NewOrder-Regular"),
        url("https://github.com/erichologist/erichology-ssd_textastic/raw/refs/heads/main/assets/fonts/neworder/neworder-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "New Order";
    src: local("New Order Bold"), local("NewOrder-Bold"),
        url("https://github.com/erichologist/erichology-ssd_textastic/raw/refs/heads/main/assets/fonts/neworder/neworder-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "New Order";
    src: local("New Order Light"), local("NewOrder-Light"),
        url("https://github.com/erichologist/erichology-ssd_textastic/raw/refs/heads/main/assets/fonts/neworder/neworder-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




