/*··•·•·•·•·•·•·•·•·•·•·•·•·•·•··	font-style:normal;				*/

@font-face {
	font-family:"Cartograph CF";
	src:local("Cartograph CF Thin"), local("CartographCF-Thin"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Thin.woff2") format("woff2"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Thin.woff") format("woff");
	font-style:normal;
	font-weight:100;
	font-variant-ligatures:common-ligatures;
	font-variant-alternates:"salt" 2, "salt" 5;
	font-feature-settings:"liga", "ss05", "ss02";
	-moz-font-feature-settings:"liga", "ss05", "ss02";
	-webkit-font-feature-settings:"liga", "ss05", "ss02";
	font-display:swap;
}
font-face {
	font-family:"Cartograph CF";
	src:local("Cartograph CF Thin"),
		local("CartographCF-Thin"),	
		url("https://github.com/erichologist/assets/raw/refs/heads/main/fonts/cartographcf/cartographcf-thin.woff2") format("woff2"),
		url("https://github.com/erichologist/assets/raw/refs/heads/main/fonts/cartographcf/cartographcf-thin.woff") format("woff"), url("https://github.com/erichologist/assets/raw/refs/heads/main/fonts/cartographcf/cartograph-cf-thin.otf") format("otf");
	font-style:normal;
	font-weight:100;
	font-variant-ligatures:common-ligatures;
	font-display:swap;
}

@font-face {
	font-family:"Cartograph CF Extra";
	src:local("Cartograph CF Extra Light"), local("CartographCF-ExtraLight"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraLight.woff2") format("woff2"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraLight.woff") format("woff");
	font-style:normal;
	font-weight:200;
	font-variant-ligatures:common-ligatures;
	font-variant-alternates:"salt" 2, "salt" 5;
	font-feature-settings:"liga", "ss05", "ss02";
	-moz-font-feature-settings:"liga", "ss05", "ss02";
	-webkit-font-feature-settings:"liga", "ss05", "ss02";
	font-display:swap;
}
@font-face {
	font-family:"Cartograph CF";
	src:local("Cartograph CF Light"), local("CartographCF-Light"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Light.woff2") format("woff2"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Light.woff") format("woff");
	font-style:italic;
	font-weight:300;
	font-variant-ligatures:common-ligatures;
	font-variant-alternates:"salt" 2, "salt" 5;
	font-feature-settings:"liga", "ss05", "ss02";
	-moz-font-feature-settings:"liga", "ss05", "ss02";
	-webkit-font-feature-settings:"liga", "ss05", "ss02";
	font-display:swap;
}
@font-face {
	font-family:"Cartograph CF";
	src:local("Cartograph CF Regular"), local("CartographCF-Regular"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Regular.woff2") format("woff2"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Regular.woff") format("woff");
	font-style:normal;
	font-weight:normal;
	font-variant-ligatures:common-ligatures;
	font-variant-alternates:"salt" 2, "salt" 5;
	font-feature-settings:"liga", "ss05", "ss02";
	-moz-font-feature-settings:"liga", "ss05", "ss02";
	-webkit-font-feature-settings:"liga", "ss05", "ss02";
	font-display:swap;
}

@font-face {
	font-family:"Cartograph CF Demi";
	src:local("Cartograph CF Demi Bold"), local("CartographCF-DemiBold"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-DemiBold.woff2") format("woff2"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-DemiBold.woff") format("woff");
	font-style:normal;
	font-weight:600;
	font-variant-ligatures:common-ligatures;
	font-variant-alternates:"salt" 2, "salt" 5;
	font-feature-settings:"liga", "ss05", "ss02";
	-moz-font-feature-settings:"liga", "ss05", "ss02";
	-webkit-font-feature-settings:"liga", "ss05", "ss02";
	font-display:swap;
}

@font-face {
	font-family:"Cartograph CF";
	src:local("Cartograph CF Bold"), local("CartographCF-Bold"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Bold.woff2") format("woff2"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Bold.woff") format("woff");
	font-style:normal;
	font-weight:bold;
	font-variant-ligatures:common-ligatures;
	font-variant-alternates:"salt" 2, "salt" 5;
	font-feature-settings:"liga", "ss05", "ss02";
	-moz-font-feature-settings:"liga", "ss05", "ss02";
	-webkit-font-feature-settings:"liga", "ss05", "ss02";
	font-display:swap;
}
@font-face {
	font-family:"Cartograph CF Extra";
	src:local("Cartograph CF Extra Bold"), local("CartographCF-ExtraBold"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraBold.woff2") format("woff2"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraBold.woff") format("woff");
	font-style:normal;
	font-weight:800;
	font-variant-ligatures:common-ligatures;
	font-variant-alternates:"salt" 2, "salt" 5;
	font-feature-settings:"liga", "ss05", "ss02";
	-moz-font-feature-settings:"liga", "ss05", "ss02";
	-webkit-font-feature-settings:"liga", "ss05", "ss02";
	font-display:swap;
}
@font-face {
	font-family:"Cartograph CF";
	src:local("Cartograph CF Heavy"), local("CartographCF-Heavy"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Heavy.woff2") format("woff2"),
        url("https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Heavy.woff") format("woff");
	font-style:normal;
	font-weight:900;
	font-variant-ligatures:common-ligatures;
	font-variant-alternates:"salt" 2, "salt" 5;
	font-feature-settings:"liga", "ss05", "ss02";
	-moz-font-feature-settings:"liga", "ss05", "ss02";
	-webkit-font-feature-settings:"liga", "ss05", "ss02";
	font-display:swap;
}