$tint: #1A3AF8;
$darken: 0%;
$white: darken( white, $darken);
$light: darken( mix(#EBEBEB, $tint, 97%), $darken);
$grey: darken( mix(#B3B3B3, $tint, 90%), $darken);

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light;
}

.container {
  text-align: center;
}

.caption {
  font-size: .8rem;
  color: $grey;
}

.button {
  display: inline-block;
  background: $light;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  cursor: pointer;
  color: darken($grey, 30%);
  letter-spacing: .04em;
  text-shadow: -1px -1px 2px $white, 1px 1px 2px rgba(black, .2);
  box-shadow: -.25rem -.25rem .75rem rgba($white, .7),
              .25rem .25rem .75rem rgba($grey, .7),
              inset 2px 2px 2px rgba($grey, .04);
  margin-bottom: 1.5rem;
  transition: all .3s;
  &:hover {
    box-shadow: -.15rem -.15rem .65rem rgba($white, .7),
              .15rem .15rem .65rem rgba($grey, .7),
              inset 0 0 0 1px  $light,
              inset -2px -2px .75rem  rgba($white, .7),
              inset 2px 2px .75rem  rgba($grey, .3);
  }
  &.is-active {
    box-shadow: -1px -1px 3px rgba($white, .7),
              1px 1px 3px rgba($grey, .7),
              inset 0 0 0 2px  $light,
              inset -2px -2px .5rem  $white,
              inset 2px 2px .5rem  rgba($grey, .8);
  }
}

