body {
  background-color:#202020;
}
h1, h2, h3, p {
  color:#aaa;
}

/* OpenType features
----------------------------*/
.figure h1 {
  @extend %opentype-required;
}

.figure h1:first-letter {
  color: #cc0000;
  color: #990012;
}

.figure h1.swash:first-letter {
  -moz-font-feature-settings: "swsh";
  -ms-font-feature-settings: "swsh";
  -webkit-font-feature-settings: "swsh";
  font-feature-settings: "swsh";
}


/* Setup
----------------------------*/
.figure {
  padding: 4em 1em 3em;
  color: #444;
  color: #999;
  background-color: #f5f2ee;
  background-color: #1a1d1f;
  text-align: center;
}
.figure h1 {
  font-size: 20vw;
  font-weight: 400;
  line-height: 0.8;
}
.figure h1.tk-bookmania {
  font-size: 15vw;
  line-height: 1;
}
hr {
  margin: 6em 0;
}
.notes {
  margin: 2em 4em;
  font-family: Verdana, sans-serif;
  font-size: 0.8125em;
  line-height: 1.5;
  max-width: 46em;
  
  h1 {
    margin-bottom: 1em;
    font-weight: 700;
  }
  
  p {
    margin-bottom: 1em;
  }
}