.highlight{color:#909;}
.row{padding:0 35px;}
.columns{padding-left:0;}
#site-header{border-top:5px solid #909;}
#site-title{
	color:#909;
	position:relative;
}
#site-title span{
	color:#333;
	font-size:16px;
	margin:0 0 0 5px;
	position:absolute;
	top:12px;
}
.fontNameArea{margin:30px 0 20px;}
.fontDataArea{margin:20px 0 40px;}
#site-footer,.fontInfoArea{margin:40px 0;}
canvas{
	position:relative;
	margin:0 7px 7px 0;
	float:left;
}
#site-footer{padding:0 0 40px;}
#scroll-to-top{
	position:fixed;
	overflow:hidden;
	z-index:99999999;
	color:#eee;
	width:52px;
	height:50px;
	line-height:48px;
	right:30px;
	bottom:30px;
	padding-top:2px;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	border-radius:5px;
}
#scroll-to-top a,.OTnote,.OTnote h4,a.privacy{color:#999;}
#table-data dd,#table-data dt{transition:background-color .2s ease;}
#scroll-to-top:hover{opacity:.5;}
.droppedFont{
	font-family:preview,AttributeFaux,AdobeBlank;
	font-variation-settings:"hrzn" -320,"vert" -140,"rota" -7,"zoom" 260;
}
.button,button{margin:0 0 .8rem;}
.reveal-modal a:hover,.site-info a:hover{text-decoration:underline;}
.subsite-nav{display:inline-block;}
.subsite-nav .nav-item{display:flex;}
.subsite-nav .nav-item a{
	min-height:66px;
	display:flex;
	align-content:center;
	justify-content:center;
	align-items:center;
	background:#fff;
	margin:0 0 10px;
	border:2px dashed #ccc;
	width:100%;
}
.subsite-nav .nav-item a:hover,.subsite-nav .nav-item.example a{
	background:#909;
	color:#fff;
	border:2px solid #909;
}
.subsite-nav .nav-item.example a:hover{
	background:#fff;
	color:#909;
	border:2px solid #fff;
}
.dark #site-footer .subsite-nav .nav-item a{background:0 0;}
.dark #site-footer .subsite-nav .nav-item a:hover{
	background:#909;
	color:#fff;
}
.dark #site-footer .subsite-nav .nav-item.example a:hover{
	background:0 0;
	color:#fff;
	border:2px solid #fff;
}
.coffee{
	position:relative;
	border:2px dashed #ccc;
	font-size:20px;
}
.coffee a{
	width:100%;
	height:100%;
	color:#999!important;
	padding:25px 20px 35px;
	display:block;
}
.coffee a:hover{color:#777!important;}
span.coffee-headline{
	font-weight:700;
	font-size:30px;
	display:block;
}
span.coffee-text{
	display:inline-block;
	max-width:80%;
}
.cup{
	position:absolute;
	bottom:18px;
	right:30px;
	width:90px;
	fill:#ddd;
	z-index:-1;
}
.dark .coffee{border:2px dashed #333;}
.dark .coffee a{
	width:100%;
	height:100%;
	color:#444!important;
}
.dark .coffee a:hover{color:#777!important;}
.dark .cup{fill:#222;}
@keyframes cupColorChange{0%,100%{
	fill:#ddd;}
50%{fill:#909;}
}

.coffee:hover .cup{animation:cupColorChange 4s ease 2;}
@keyframes cupColorChangeDark{0%,100%{
	fill:#222;}
50%{fill:#909;}
}

.dark .coffee:hover .cup{animation:cupColorChangeDark 4s ease 2;}
#highlightBar.banner{
	display:none;
	background:#909;
	color:#fff;
	font-size:13px;
	letter-spacing:.03rem;
	padding:9px 0 11px;
	margin:-1px 0 0;
	position:relative;
}
#highlightBar.hideHighlight{display:none;}
#highlightBar.banner a{
	color:#fff;
	border-bottom:1px dotted #fff;
}
#highlightBar.banner a:hover{border-bottom:1px solid #fff;}
#highlightBar .closeBanner{
	float:right;
	padding:0 25px;
	cursor:pointer;
	position:absolute;
	top:7px;
	right:10px;
}
.reveal-modal{max-width:800px;}
#info-button{
	margin:0 0 0 15px;
	float:left;
}
#modalTitle{line-height:1.2;}
#infoModal .lead{margin:20px 0 25px;}
#infoModal{
	background:#faf9f6;
	color:#222;
}
.fontdrop-logo img{
	margin:10px auto 20px;
	display:block;
	width:110px;
}
a.infoModalLink{
	background:#d8d8d8;
	border:1px solid #d8d8d8;
	border-radius:18px;
	color:#fff;
	display:block;
	height:36px;
	margin:15px 0;
	opacity:.7;
	padding:4px;
	text-align:center;
	width:36px;
}
.dark .info-highlight,.dark .languageItem,.dark h2,.dark h3,.dark h4,.footnote,body.dark{color:#999;}
a .infoModalLink:hover{opacity:1;}
.footnote{
	font-size:12px;
	line-height:1.4;
}
#dark-mode-switch{
	margin:20px 0 5px 15px;
	float:left;
}
body.dark{background-color:#111;}
#fontDropBody.dark.dropOn{background:#222;}
.dark .is-dragging .dropField{border:4px dashed #fff;}
.dark .languageItem.true a,.dark .substituteItems .coverGlyph,.dark p a{color:#908;}
.dark .dropField,.dark .ligatureItem .ligComp span,.dark .substituteItems{background:#000;}
.dark .tabs .tab-title>a{background-color:#777;}
.dark .tabs .tab-title>a:hover{
	background-color:#909;
	color:#fff;
}
.dark .tabs .tab-title.active>a{background-color:#fff;}
.dark .tabs .tab-title.active>a:hover{color:#222;}
.dark #infoModal a,.dark #site-footer a{color:#909;}
.dark input[type=range].rslider::-moz-range-thumb,.dark input[type=range].rslider::-ms-thumb,.dark input[type=range].rslider::-webkit-slider-thumb{background:#fff;}
.dark #parsingFont,.dark #typing p{
	background:#000;
	color:#fff;
}
.dark .sticky-element--sticky{background:#333;}
.dark #table-data .row-wrap{border-bottom:1px solid #333;}
.dark hr{border:1px solid #333;}
body.light-mode{
	background-color:#faf9f6;
	color:#222;
}
body.light-mode #fontDropBody.dropOn{background:#f4f2ec;}
body.light-mode .is-dragging .dropField{border:4px dashed #999;}
body.light-mode a{color:#909;}
body.light-mode .info-highlight,body.light-mode .languageItem,body.light-mode h2,body.light-mode h3{color:#222!important;}
body.light-mode .dropField,body.light-mode .ligatureItem .ligComp span,body.light-mode .substituteItems{background:#fff!important;}
.tabs .tab-title>a,body.light-mode .tabs .tab-title>a{background-color:#EFEFEF;}
.tabs .tab-title>a:hover,body.light-mode .tabs .tab-title>a:hover{
	background-color:#909;
	color:#fff;
}
#table-data h4,.tabs .tab-title.active>a,body.light-mode .tabs .tab-title.active>a{background-color:#fff;}
.tabs .tab-title.active>a:hover,body.light-mode .tabs .tab-title.active>a:hover{color:#222;}
body.light-mode #infoModal a{color:#777;}
body.light-mode input[type=range].rslider::-moz-range-thumb,body.light-mode input[type=range].rslider::-ms-thumb,body.light-mode input[type=range].rslider::-webkit-slider-thumb{background:#909;}
body.light-mode #parsingFont,body.light-mode #typing p{
	background:#fff!important;
	color:#222!important;
}
body.light-mode .sticky-element--sticky{background:#fff!important;}
#fontDrop,.compareDropField{margin:10px 0 0;}
.dropField{
	align-items:center;
	background:#fff;
	border:4px dashed #ccc;
	display:flex;
	height:260px;
	justify-content:center;
	position:relative;
}
.dropField h2{
	display:inline-block;
	margin:0;
	font-size:2rem;
}
.is-dragging .dropField{border:4px dashed #999;}
#fontDropBody.dropOn{background:#f4f2ec;}
.upload-font-file label[for=url]{
	border:none;
	cursor:none;
	font-style:italic;
}
.upload-font-file input{
	width:.1px;
	height:.1px;
	opacity:0;
	overflow:hidden;
	position:absolute;
	z-index:-1;
}
.upload-font-file label{
	display:inline-block;
	border-bottom:2px dotted #d8d8d8;
	color:#999;
}
.upload-font-file label:hover{
	border-bottom:2px dotted #909;
	color:#909;
}
input[type=url]{
	width:160px;
	padding:0;
	margin:1px 5px 0 10px;
	background-color:transparent;
	border:0;
	border-bottom:2px dotted #ccc;
	height:auto;
	display:inline-block;
	opacity:.75;
	z-index:1;
	line-height:1.5;
}
input[type=url]:focus{
	opacity:1;
	background:0 0;
	color:#fff;
}
.fileName{
	color:#908;
	display:block;
	font-size:14px;
}
.font-name{
	font-size:3.8rem;
	line-height:1;
	margin-left:8px;
}
#parsingFont{
	position:absolute;
	width:100%;
	height:190px;
	background:#fff;
}
#parsingFont .loadingRing{
	display:inline-block;
	width:50px;
	height:64px;
	margin-top:60px;
}
#parsingFont .loadingRing:after{
	content:" ";
	display:block;
	width:46px;
	height:46px;
	margin:1px;
	border-radius:50%;
	border:5px solid #909;
	border-color:#909 transparent;
	animation:loadingRing 1.2s linear infinite;
}
@keyframes loadingRing{0%{
	transform:rotate(0);}
100%{transform:rotate(360deg);}
}

#parsingFont.parsingDone{display:none;}
.pulsate{animation:pulseAnimation 2s infinite;}
@keyframes pulseAnimation{0%,100%{
	opacity:1;}
50%{opacity:0;}
}

.errorMSG{
	font-size:14px;
	background:#f09;
	color:#fff;
	padding:0 6px;
}
.fontDataArea p{
	color:#999;
	font-size:12px;
	margin-bottom:8px;
}
.info-highlight{
	color:#000;
	font-size:14px;
}
.note{
	color:#999;
	font-family:AttributeFaux,monospaced;
	font-size:12px;
	letter-spacing:0;
}
.morelink{display:block;}
.fontDataArea a{border-bottom:2px dotted #d8d8d8;}
.fontDataArea a:hover{border-bottom:2px dotted #000;}
.ember-popover{
	color:#fff;
	background:#909;
	margin:10px 0 0 -4px!important;
	min-width:125px;
	font-family:AttributeFaux;
	font-size:.8rem;
	padding:10px 15px;
	border:0 solid #ccc;
	border-radius:0;
}
.variableFontOn{
	border:2px solid #d8d8d8;
	padding:5px 15px;
	margin:15px 0 35px;
}
#variable-font-stuff{margin:12px 0;}
#variable-font-stuff #slidecontainer{margin-bottom:20px;}
#variable-font-stuff table{
	font-size:14px;
	width:100%;
}
#variable-font-stuff input[type=range].rslider{padding:0 10px;}
#variable-font-stuff ul{
	list-style:none;
	margin:0;
}
#variable-font-stuff ul li{
	font-size:14px;
	float:left;
	margin-right:12px;
}
#table-data h4{
	font-size:16px;
	margin-bottom:10px;
	padding:2px 6px 5px 10px;
}
#table-data h4 a{
	border-bottom:2px dotted #d8d8d8;
	color:#999;
}
#table-data h4 a:hover{
	border-bottom:2px dotted #909;
	color:#909;
}
#table-data .row-wrap{
	border-bottom:1px solid #f2f2f2;
	display:block;
}
#table-data .row-wrap:hover{background-color:#909;}
#table-data .row-wrap:hover .greentext,#table-data .row-wrap:hover .greytext,#table-data .row-wrap:hover .purpletext,#table-data .row-wrap:hover dd,#table-data .row-wrap:hover dt{color:#fff;}
#table-data dl{
	display:block;
	font-size:14px;
	line-height:1.4;
	padding:0 5px 5px 0;
	margin:0 0 35px;
}
#table-data dt{
	font-size:14px;
	float:left;
	margin:0;
	padding:0 5px 11px 10px;
	width:12em;
}
#table-data dd{
	display:block;
	min-height:30px;
	max-height:200px;
	margin:0 0 0 12em;
	padding:0;
	overflow-y:auto;
	word-break:break-all;
}
span.langtag{
	color:#999;
	font-size:14px;
}
.sticky-element--sticky{
	background:#fff;
	box-shadow:0 1px 6px 0 rgba(33,33,33,.25);
	z-index:100;
	width:100%!important;
	max-height:235px;
	overflow-y:auto;
	left:0;
	padding:0 35px;
}
.sticky-element--sticky #ot-features{margin:15px 0 0;}
.sticky-element--sticky .variableFontOn{margin:5px 0 15px;}
.sticky-element--sticky p.ot-feature-head{display:none;}
#ot-features{margin:35px 0 0;}
.ot-feature-head{
	color:#999;
	font-size:12px;
	margin:0;
}
.featureItem{
	float:left;
	margin:0 20px 0 0;
}
.featureItem span{
	display:block;
	font-size:12px;
	margin:0 0 5px;
}
.switch{margin-bottom:15px;}
.languagesFontOne{
	font-family:“Helvetica Neue”,sans-serif;
	font-weight:400;
}
.compareFontOne,.compareFontTwo{font-family:Attribute,AttributeFaux,AdobeBlank,sans-serif;}
#fontLanguages ul{margin-left:0;}
#featurelist,#langlist{
	display:inline;
	list-style:none;
	font-size:1em;
	line-height:1.4;
	margin:0;
}
#featurelist li,#fontLanguages li,#langlist li{display:inline;}
#featurelist li:after,#fontLanguages li:after,#langlist li:after{content:", ";}
#featurelist li:last-child:after,#fontLanguages li:last-child:after,#langlist li:last-child:after{content:".";}
.languageItem{
	color:#000;
	font-size:14px;
	font-weight:700;
}
.languageItem.true a{
	color:#000;
	border-bottom:2px dotted #000;
}
.languageItem a{
	color:#999;
	border-bottom:2px dotted #999;
}
.languageItem a:hover{
	color:#909;
	border-bottom:2px dotted #909;
}
.languagesList .characterItem{
	min-width:45px;
	font-size:20px;
	color:#333;
	padding:5px 10px;
	margin:1px;
}
.languagesList .characterItem.true{background-color:#87f785;}
.languagesList .characterItems{display:inline-block;}
#glyph-item-data{
	color:#222;
	font-size:12px;
	line-height:1.6;
	float:right;
	width:220px;
}
#glyph-item-data dl{margin:20px 0 10px;}
#glyph-item-data dl,.ligatureItem dl{
	display:grid;
	grid-template-columns:max-content auto;
}
#glyph-item-data dl dt,.ligatureItem dl dt{
	grid-column-start:1;
	color:#999;
	font-size:12px;
	font-weight:400;
	float:left;
	margin:3px 7px 0 0;
}
#glyph-item-data dl dd,.ligatureItem dl dd{
	grid-column-start:2;
	font-size:14px;
	margin:0 0 2px;
}
#glyph-item-data ul{font-size:14px;}
#glyph-item-data pre{
	background:#efefef;
	display:inline-block;
	padding:8px;
	line-break:auto;
	margin:5px 0;
	width:220px;
	overflow-wrap:break-word;
	word-wrap:break-word;
	white-space:pre-line;
	max-height:200px;
	overflow:auto;
}
.tabs{border-bottom:1px solid #f2f2f2;}
.waterfall{overflow:hidden;}
.waterfall li{list-style:none;}
.waterfallFontSize{
	display:inline-block;
	font-size:10px;
	line-height:1;
	width:100%;
}
.waterfallText{
	line-height:1;
	white-space:nowrap;
}
#typing p{
	margin:15px 0 0;
	background-color:#fff;
	min-height:500px;
	padding:3px 15px;
}
#typing span{
	display:inline-block;
	margin:0 0 5px;
}
input[type=range].rslider{
	-webkit-appearance:none;
	width:100%;
	margin:9px 0;
	background:0 0;
}
input[type=range].rslider::-webkit-slider-runnable-track{
	width:100%;
	height:2px;
	cursor:pointer;
	box-shadow:0 0 0 transparent,0 0 0 rgba(13,13,13,0);
	background:#969696;
	border-radius:1px;
	border:0 solid transparent;
}
input[type=range].rslider::-webkit-slider-thumb{
	box-shadow:0 0 0 transparent,0 0 0 rgba(13,13,13,0);
	border:0 solid #909;
	height:20px;
	width:20px;
	border-radius:10px;
	background:#909;
	cursor:pointer;
	-webkit-appearance:none;
	margin-top:-9px;
}
input[type=range].rslider:focus::-webkit-slider-runnable-track{background:#b0b0b0;}
input[type=range].rslider::-moz-range-track{
	width:100%;
	height:2px;
	cursor:pointer;
	box-shadow:0 0 0 transparent,0 0 0 rgba(13,13,13,0);
	background:#969696;
	border-radius:1px;
	border:0 solid transparent;
}
input[type=range].rslider::-moz-range-thumb{
	box-shadow:0 0 0 transparent,0 0 0 rgba(13,13,13,0);
	border:0 solid #909;
	height:20px;
	width:20px;
	border-radius:10px;
	background:#909;
	cursor:pointer;
}
input[type=range].rslider::-ms-track{
	width:100%;
	height:2px;
	cursor:pointer;
	background:0 0;
	border-color:transparent;
	color:transparent;
}
input[type=range].rslider::-ms-fill-lower{
	background:#7d7d7d;
	border:0 solid transparent;
	border-radius:2px;
	box-shadow:0 0 0 transparent,0 0 0 rgba(13,13,13,0);
}
input[type=range].rslider::-ms-fill-upper{
	background:#969696;
	border:0 solid transparent;
	border-radius:2px;
	box-shadow:0 0 0 transparent,0 0 0 rgba(13,13,13,0);
}
input[type=range].rslider::-ms-thumb{
	box-shadow:0 0 0 transparent,0 0 0 rgba(13,13,13,0);
	border:0 solid #909;
	width:20px;
	border-radius:10px;
	background:#909;
	cursor:pointer;
	height:2px;
}
input[type=range].rslider:focus::-ms-fill-lower{background:#969696;}
input[type=range].rslider:focus::-ms-fill-upper{background:#b0b0b0;}
.glyphItem canvas,.ligatureItem canvas{width:125px;}
.glyphItem{
	float:left;
	cursor:pointer;
}
.ligaFeature{
	width:100%;
	display:inline-block;
	margin:0 0 30px;
}
.ligatureItem{
	float:left;
	position:relative;
	width:355px;
	min-height:140px;
}
.ligatureItem .ligComp span{
	background:#fff;
	padding:0 4px;
	margin:0 2px 2px 0;
	float:left;
}
.substituteItems{
	background:#fff;
	padding:10px;
	margin:0 2px 2px 0;
	font-size:2rem;
	letter-spacing:.1rem;
	width:100%;
	min-height:65px;
	max-height:500px;
	overflow-y:auto;
}
.substituteItems .coverGlyph{
	color:#ccc;
	font-feature-settings:"calt" off;
}
.substituteItems .feaGlyph{margin:0 6px 0 1px;}
.versus{
	margin:10px 0 0;
	align-items:center;
	display:flex;
	height:260px;
	justify-content:center;
	position:relative;
}
.versus p span{
	border:3px dotted #f2f2f2;
	border-radius:50%;
	color:#333;
	width:60px;
	height:60px;
	padding:16px 17px;
	background:#fff;
}
.compare-info{margin:40px 0 20px;}
.compareFontOne{font-weight:700;}
.page-compare .specimenText{padding-right:15px;}
.page-compare .waterfallText{line-height:1.2;}
.fontFullNameOne,.fontFullNameTwo{
	color:#909;
	font-weight:700;
}
.characterItem{
	background-color:#fff;
	min-width:108px;
	font-size:42px;
	float:left;
	padding:10px;
	margin:5px;
	display:flex;
	justify-content:center;
}
.page-awSort .sortItem .advanceWidth,.page-awSort .sortItem .tolerance{
	font-size:12px;
	line-height:2;
	padding:10px;
}
.characterItem .compareFontOne{
	border-left:1px dotted #999;
	border-right:1px dotted #999;
}
.characterItem .compareFontTwo{border-right:1px dotted #999;}
.page-awSort .sortItem{
	float:left;
	display:block;
	margin:5px;
	border-right:1px solid #999;
	padding-right:10px;
}
.page-awSort .character-groups .featureItem{margin:0 5px 0 0;}
.page-awSort .sortItem .tolerance{color:#999;}
.page-awSort .sortItem .character{
	background-color:#fff;
	font-size:42px;
	padding:10px;
}
.page-awSort .sortItem .sortChars{margin-top:10px;}
.dark .page-awSort .sortItem .character{
	background-color:#909;
	color:#fff;
}
.greentext{color:#10FF00;}
.purpletext{color:#909;}
.greytext{color:#888;}
.page-search-glyphs .glyphs-category{
	clear:both;
	margin:0 0 30px;
}
#allGlyphstab .switch div{
	min-height:65px;
	display:flex;
	justify-content:center;
	margin:0 5px;
}
#allGlyphstab .switch div span{align-self:self-end;}
#allGlyphstab .switch div.switch-show-all{
	float:left;
	margin:-3px 15px 0 0;
}
ul.category-list{
	list-style:none;
	margin:0;
}
ul.category-list li{
	float:left;
	margin:0 5px 0 0;
}
.column+.column:last-child,.column+.columns:last-child,.columns+.column:last-child,.columns+.columns:last-child{float:left;}
#copyToClipboard:active{
	border:2px dotted #909;
	color:#909;
	background:0 0;
}
@media (max-width:1024px){.row{
	padding:0 20px;}
.sticky-element--sticky[style]{position:relative;}
.sticky-element--sticky{
	position:relative!important;
	background:0 0;
	box-shadow:none;
	max-height:max-content;
	z-index:100;
	padding:0;
}
.sticky-element--sticky #ot-features{margin:15px 0 0;}
.sticky-element--sticky .variableFontOn{margin:15px 0 35px;}
.sticky-element--stick .featureItem{margin:0 10px 0 0;}
.sticky-element--stick .switch{margin-bottom:5px;}
.dark .sticky-element--sticky,body.light-mode .sticky-element--sticky{background:0 0!important;}
.versus{
	margin:30px 0 0;
	height:100px;
}
.glyphItem canvas,.ligatureItem canvas{width:75px;}
}

@media print{#table-data dd,.substituteItems{
	max-height:none;}
}

