
	--gt1:background-image:linear-gradient(180deg,#252A33,#252A3300);
	--gt2:background-image:linear-gradient(180deg,#14171F,#14171F00);
	--gt3:background-image:linear-gradient(180deg,#002433,#00243300);
	--gt4:background-image:linear-gradient(180deg,#002638,#00263800);
	--gt5:background-image:linear-gradient(180deg,#002C40,#002C4000);
	--gt6:background-image:linear-gradient(180deg,#00C8FF,#00C8FF00);
	--gt7:background-image:linear-gradient(180deg,#00A0FF,#00A0FF00);
	--gt8:background-image:linear-gradient(180deg,#BAAFA2,#BAAFA244);
	--gt9:background-image:linear-gradient(180deg,#D8D2CA,#D8D2CA00);
	--gt10:background-image:linear-gradient(180deg,#E6DFD6,#E6DFD600);
	--gt11:background-image:linear-gradient(180deg,#F6F5F1,#F6F5F100);
	--gt13:background-image:linear-gradient(180deg,#052134,#05213400);
	--gt14:background-image:linear-gradient(180deg,#052432,#05243200);
	--gt15:background-image:linear-gradient(180deg,#062D43,#062D4300);
	--gt16:background-image:linear-gradient(180deg,#093459,#09345900);
	--gt17:background-image:linear-gradient(180deg,#0B5577,#0B557700);
	--gt18:background-image:linear-gradient(180deg,#06D6A0,#06D6A000);
	--gt19:background-image:linear-gradient(180deg,#252A33,#252A3344,#252A3322);
	--gt20:background-image:linear-gradient(180deg,#14171F,#14171F44,#14171F22);
	--gt21:background-image:linear-gradient(180deg,#002433,#00243344,#00243322);
	--gt22:background-image:linear-gradient(180deg,#002638,#00263844,#00263822);
	--gt23:background-image:linear-gradient(180deg,#002C40,#002C4044,#002C4022);
	--gt24:background-image:linear-gradient(180deg,#00C8FF,#00C8FF44,#00C8FF22);
	--gt25:background-image:linear-gradient(180deg,#00A0FF,#00A0FF44,#00A0FF22);
	--gt26:background-image:linear-gradient(180deg,#BAAFA2,#BAAFA244,#BAAFA222);
	--gt27:background-image:linear-gradient(180deg,#D8D2CA,#D8D2CA44,#D8D2CA22);
	--gt28:background-image:linear-gradient(180deg,#E6DFD6,#E6DFD644,#E6DFD622);
	--gt29:background-image:linear-gradient(180deg,#F6F5F1,#F6F5F144,#F6F5F122);
	--gt30:background-image:linear-gradient(180deg,#052134,#05213444,#05213422);
	--gt31:background-image:linear-gradient(180deg,#052432,#05243244,#05243222);
	--gt32:background-image:linear-gradient(180deg,#062D43,#062D4344,#062D4322);
	--gt33:background-image:linear-gradient(180deg,#093459,#09345944,#09345922);
	--gt34:background-image:linear-gradient(180deg,#0b5577,#0b557744,#0b557722);
	--gt35:background-image:linear-gradient(180deg,#06D6A0,#06D6A044,#06D6A022);