body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(45deg, red, #FDD835);
  backdrop-filter: brightness(70%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.tile {
  padding: 1.5em;
  background: rgba(233, 233, 233, 0.42);
  font-size: 1.5em;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 4px 4px #ffffff33;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #E65100;
}

.tile:hover {
  transform: translateX(-6px) translateY(-6px);
  color: #FB8C00;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2em;
  background: rgba(233, 233, 233, 0.50);
  border-radius: 2em;
  backdrop-filter: blur(3px);
  box-shadow: 4px 4px #ffffff44;
}