@charset "UTF-8";
body, td, th, input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.liveSample {
	background-color: #FFFFCC;
	color: black;
	padding: 4px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #000000;
}
.demoDiv {
	background-color: #CCCCCC;
	width: 400px;
}
.highlited {
	background-color: #FF00AAA1;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
/*	color: #000000;*/
}
.grayBG {
	background-color: #CCCCCC;
}
pre:has(code),
pre code, pre {
/*	font-family: "Courier New", Courier, monospace; */
	background-color: #222;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: auto;
	font-size: .91em;

	margin-left: 10px;
	margin-right: 10px;
	font-family: "CartographCF-LightItalic", "SymbolsNFM",  "CartographCFNerdFontComplete-LightItalic", "CartographCF-RegularItalic", "CartographCFNerdFontComplete-RegularItalic", "DankMonoNFM-Italic", "DankMonoNerdFontNerdFontCompleteM-Italic", monospace;
	/*border: 1px solid #CCCCCC*/
	}
code, pre code {	color:#00EBDF;}
h3 {
	background-color: #F3F3F3;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 100%;
	line-height: 150%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
h4{
	color: #000099;
	font-variant: small-caps;
	font-size:120%;
}
td, th{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
th {
	background-color: #F3F3F3;
	vertical-align: top;
}
a {
	text-decoration: none;
}